<!doctype html>
<html lang="es">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Personalizado -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="icon" href="{% static 'core/img/logo3.png' %}">
    <title>Littlepetshop</title>
    <style>
        p.note {
          color: red;
        }
        #FormularioContacto{
          margin-right: 5%;
        }
        .map-responsive{
          margin-left: 5%;
        }
        #ubicanos{
          margin-bottom: 3%;
        }
        #formcontainer{
          padding-top: 2%;
        }

        input, textarea {
          border-radius: 5px;
          border: 1px solid #ccc;
          padding: 4px;;
          width: 300px;
          margin-top: 10px;
        }

        label.error {
            color: red;
            margin-top: 5px;
        }

        input.error, textarea.error {
            border: 1px dashed red;
            color: red;
        }
        </style>

</head>

   <!-- Comienzo del body -->
<body class="d-flex flex-column min-vh-100" style="background-color:#fffCf8">

  <nav class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: #5495ca;">
    <div class="container-fluid">
      <img src="{% static 'core/img/logo3.png'%}" height="50px" alt="Littlepetshop" style="border-radius: 50%;"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link "  aria-current="page" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Galeria De articulos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'Caninos' %}">Articulos Caninos</a></li>
              <li><a class="dropdown-item" href="{% url 'Felinos' %}">Articulos Felinos</a></li>
              <li><a class="dropdown-item" href="{% url 'Avess' %}">Articulos de Aves</a></li>
            </ul>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Quienes Somos' %}">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'Catalogo' %}">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'seguimiento' %}">Seguimiento</a>
            </li>
          </li>
        </ul>
        <div>
          
            {% if not esta_logueado %}
            <button class="btn btn-light btn-outline-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" >Iniciar Sesion</button>
            {% else %}
            <li class="d-flex nav-item dropdown">
            <a class="nav-link btn btn-light dropdown-toggle text-black" href="" id="userDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Bienvenido {{ Usuario.username | capfirst }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'Perfil' %}">Mi perfil</a></li>
              <li><a class="dropdown-item" href="{% url 'Revisar Solicitudes' %}">Revisar solicitudes</a></li>
              <li><a class="dropdown-item"  id="logout">Cerrar Sesion</a></li>
            </ul>
          </li>
            {% endif %}
        </div>
        </div>
      </div>
    </div>
  </nav>

<!-- inicio de formulario --> 
    <div class="container min-vh-100" id="formcontainer">
        <div class="row pt-5 align-items-center">
          <div class="col-md-7">
            <h1 class="display-4" onmouseover="mouseover(this)" onmouseout="mouseout(this)"><b>Contactanos</b></h1>
            <hr class="bg-info">
            <p class="pb-0 mb-0">Te invitamos a contactanos, te responderemos a la brevedad.</p>
            <p class="text-danger small pt-0 mt-0">Los campos con el simbolo  *  son obligatorios </p>
              <form id="FormularioContacto">
                <div class="row form-group">
                  <label for="nombre" class="col-form-label col-md-4">Nombre:</label>
                  <div class="col-md-8">
                    <input type="text" name="nombre" value="" id="nombre" class="form-control" placeholder="*">
                  </div>
                </div>
                <div class="row form-group pt-3">
                  <label for="telefono" class="col-form-label col-md-4">Numero de telefono:</label>
                  <div class="col-md-4">
                    <input type="number" name="telefono" value="" id="telefono" class="form-control" placeholder="(Opcional)">
                  </div>
                </div>
                <div class="row form-group pt-3">
                  <label for="email" class="col-form-label col-md-4">E-mail:</label>
                  <div class="col-md-8">
                    <input type="email" name="email" value="" id="email" class="form-control" placeholder="*">
                  </div>
                </div>
                <div class="row form-group pt-3">
                  <label for="mensaje" class="col-form-label col-md-4">Mensaje</label>
                  <div class="col-md-8">
                    <textarea name="mensaje" id="mensaje" class="form-control" rows="5" placeholder="(Opcional)"></textarea>
                  </div>
                </div>
                <div class="row form-group pt-3">
                  <label for="problema" class="col-form-label col-md-4">Tipo de problema:</label>
                    <div class="col-md-8">
                      <select class="form-select" name="problema" id="problema" aria-label="Default select example">
                        <option value="0" selected="" disabled="">--Seleccionar--</option>
                        <option value="1">Problemas de envio</option>
                        <option value="2">Reembolso</option>
                        <option value="3">Otros</option>
                      </select>
                    </div>
                </div>
                <div class="row form-group pt-3">
                  <label for="archivo" class="col-form-label col-md-4">Seleccione un archivo:</label>
                  <div class="col-md-8">
                    <input type="file" name="archivo" value="" id="archivo" class="form-control">
                  </div>
                </div>
                <div class="row form-group pt-3 col-md-3 justify-content-center">
                  <button type="submit" class="btn btn-success"><p id="botonContactanos" onmouseover="mouseover2(this)" onmouseout="mouseout2(this)">Enviar</p></button>
                </div>
              </form>
          </div>
          <div class="col-md-5 pt-5 ">
            <p><center><h3 id="ubicanos" onmouseover="mouseover3(this)" onmouseout="mouseout3(this)">Ubicanos en nuestra sucursal: </h3></center></p>
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250.85839340908691!2d-70.75753480629311!3d-33.50796397062645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dcd36eb2ce1b%3A0xc32897f95bb02204!2sZoo%20Market!5e0!3m2!1ses!2scl!4v1657768121797!5m2!1ses!2scl" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
          </div>
        </div>
      </div>
<!-- fin de formulario --> 

 <!-- Footer de la pagina --> 
 <div class="mt-auto" style="background-color: #5495ca7d; margin-top: 2%;">
  <footer class="container py-3">
    <div class="row">
      <div class="col-md">
        <center><a href="#"><img src="{% static 'core/img/logo3.png'%}" height="50px" alt="Littlepetshop" style="border-radius: 50%;"></a>
          <small><li class="d-block  text-muted">Duoc UC Sede Maipú</li></small>
          <small><li class="d-block  text-muted">Ingenieria informatica</li></small>
          <small><li class="d-block  text-muted">©2022 Derechos reservados</li></small>
        </center>
      </div>
      <div class="col-6 col-md">
        <h5>Acerca de</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/Blap00/Experiencia4_Palma_hayashi_Poblete_Guimaraes">Link repositorio</a></li>
          <li><a class="text-muted" href="https://github.com/edobazz">Github Profesor</a></li>
          <li><a class="text-muted" href="https://www.duoc.cl/">Duoc UC</a></li>
          <li><a class="text-muted" href="{% url 'Contactanos'%}">Contactanos</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><img src="{% static 'core/img/iconoInsta.png'%}" width="30px" alt="iconoInsta"> Nuestras redes</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.instagram.com/_little.pets.shop_?igshid=YmMyMTA2M2Y/">@_little.pets.shop</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/_._Blap_._/">@_._Blap_._</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/live_.itho._evil/">@live_.itho._evil</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/vixo_guimaraes23/">@vixo_guimaraes23</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/meiikaren/">@meiikaren</a></li>
        </ul>
      </div>
      
      <div class="col-6 col-md">
        <h5>Equipo (Github)</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/Blap00">Fabian Palma</a></li>
          <li><a class="text-muted" href="https://github.com/ithoayashi">Hitoshen Hayashi</a></li>
          <li><a class="text-muted" href="https://github.com/vixo700">Vicente Guimaraes</a></li>
          <li><a class="text-muted" href="https://github.com/kapobleteg">Karen Poblete</a></li>
        </ul>
      </div>
    </div>
  </footer>
  </div>  

  <!-- Fin de la pagina -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
  <script src="{% static 'CommunityPlant/js/ValidacionContactanos.js' %}"></script>
</body>
</html>