<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Personalizado -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="icon" href="{% static 'core/img/logo.png'%}">
    <title>Littlepetshop</title>
  </head>

  <body class="d-flex flex-column min-vh-100" style="background-color:#fffcf8">
        <!-- Barra de navegacion superior -->
        <nav class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: #5495ca;">
          <div class="container-fluid">
            <img src="{% static 'core/img/logo3.png'%}" height="50px" alt="Littlepetshop" style="border-radius: 50%;"> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active"  aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Galeria De articulos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'Caninos' %}">Articulos Caninos</a></li>
                    <li><a class="dropdown-item" href="{% url 'Felinos' %}">Articulos Felinos</a></li>
                    <li><a class="dropdown-item" href="{% url 'Avess' %}">Articulos de Aves</a></li>
                  </ul>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Quienes Somos' %}">Quienes somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'Catalogo' %}">Catalogo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'seguimiento' %}">Seguimiento</a>
                  </li>
                </li>
              </ul>
              <div>
                
                  {% if not esta_logueado %}
                  <button class="btn btn-light btn-outline-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" >Iniciar Sesion</button>
                  {% else %}
                  <li class="d-flex nav-item dropdown">
                  <a class="nav-link btn btn-light dropdown-toggle text-black" href="" id="userDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    Bienvenido {{ Usuario.username | capfirst }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'Perfil' %}">Mi perfil</a></li>
                    <li><a class="dropdown-item" href="{% url 'Revisar Solicitudes' %}">Revisar solicitudes</a></li>
                    <li><a class="dropdown-item"  id="logout">Cerrar Sesion</a></li>
                  </ul>
                </li>
                  {% endif %}
              </div>
              </div>
            </div>
          </div>
        </nav>
  <div class="container-sm" style="width: 50%;">
    <center><h1>Modificando Perfil De</h1></center>
    <h1 class="display-5" onmouseover="mouseover(this)" onmouseout="mouseout(this)"><center><b style="color: #1D8348;">{{ Usuario.username }}</b></center></h1>
    <center><p class="pb-0 mb-0">Bienvenido a tu perfil, el cual podras Modificar y Eliminar cuando lo desees</p></center>
    <center><p class="text-danger small pt-0 mt-0">Una ves borrado el perfil, deberas volver al perfil </p></center>
    <hr class="bg-info">
    <center><img src="{% static 'CommunityPlant/img/usericon.png'%}" alt="" width="175px"></center>
    <hr class="bg-info">
    <form action="/ModPerfil.html" method="post">
      {% csrf_token %}
      
      
        <div class="row form-group">
          <label for="username" class="col-form-label col-md-4">Nombre de usuario:</label>
          <div class="col-md-8">
            <input type="text" name="username" value="{{ Usuario.username }}" disabled id="username" class="form-control" placeholder=""> 
          </div>
        </div>
        <hr class="bg-info">

        <div class="row form-group pt-3">
          <label for="password" class="col-form-label col-md-4">Contraseña:</label>
          <div class="col-md-4">
            <input type="password" name="password"  required value="{{ Usuario.password }}" id="password" class="form-control" placeholder=""> 
          </div>
        </div>

        <hr class="bg-info">
        <div class="row form-group pt-3">
          <label for="mail" class="col-form-label col-md-4">E-mail:</label>
          <div class="col-md-8">
            <input type="email" name="mail" required value="{{ Usuario.mail }}" id="mail" class="form-control" placeholder="">
          </div>
        </div>
      
        <hr class="bg-info">
        <div class="row justify-content-md-center pb-5">
          <div class="row form-group pt-3 col-md-4">
            <input type="submit" class="btn btn-success"></input>
          </div>
          <div class="row form-group pt-3 col-md-4" style="padding-left: 3%;">
            <a type="submit" href="Perfil.html" class="btn btn-success">Volver al perfil</a>
          </div>
        </div>
    </form>
  </div>

 <!-- Footer de la pagina --> 

 <div class="mt-auto" style="background-color: #5495ca7d; margin-top: 2%;">
  <footer class="container py-3">
    <div class="row">
      <div class="col-md">
        <center><a href="#"><img src="{% static 'core/img/logo3.png'%}" height="50px" alt="Littlepetshop" style="border-radius: 50%;"></a>
          <small><li class="d-block  text-muted">Duoc UC Sede Maipú</li></small>
          <small><li class="d-block  text-muted">Ingenieria informatica</li></small>
          <small><li class="d-block  text-muted">©2022 Derechos reservados</li></small>
        </center>
      </div>
      <div class="col-6 col-md">
        <h5>Acerca de</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/Blap00/Experiencia4_Palma_hayashi_Poblete_Guimaraes">Link repositorio</a></li>
          <li><a class="text-muted" href="https://github.com/edobazz">Github Profesor</a></li>
          <li><a class="text-muted" href="https://www.duoc.cl/">Duoc UC</a></li>
          <li><a class="text-muted" href="contactanos.html">Contactanos</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><img src="{% static 'core/img/iconoInsta.png'%}" width="30px" alt="iconoInsta"> Nuestras redes</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.instagram.com/_little.pets.shop_?igshid=YmMyMTA2M2Y/">@_little.pets.shop</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/_._Blap_._/">@_._Blap_._</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/live_.itho._evil/">@live_.itho._evil</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/vixo_guimaraes23/">@vixo_guimaraes23</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/meiikaren/">@meiikaren</a></li>
        </ul>
      </div>
      
      <div class="col-6 col-md">
        <h5>Equipo (Github)</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://github.com/Blap00">Fabian Palma</a></li>
          <li><a class="text-muted" href="https://github.com/ithoayashi">Hitoshen Hayashi</a></li>
          <li><a class="text-muted" href="https://github.com/vixo700">Vicente Guimaraes</a></li>
          <li><a class="text-muted" href="https://github.com/kapobleteg">Karen Poblete</a></li>
        </ul>
      </div>
    </div>
  </footer>
  </div>

    <!-- Bootstrap Bundle with Popper -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'CommunityPlant/js/Logout.js' %}"></script>
    <script src="{% static 'CommunityPlant/js/ValidacionContactanos.js' %}"></script>
  </body>
</html>